/* ------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------ */
header {
    background-color: #4e2a84;
    position: fixed;
    left: 0;
    right: 0;    
    z-index: 100;
}

.header__content {
    width: 70%;
    margin: 0 auto;
    padding: 1rem 0;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__content p {
    font-size: 2.3rem;
    color: white;
}

.header__content ul {
    list-style: none;
}

.header__content li {
    display: inline;
    margin: 0 1rem;
}

.header__content a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 2px;
    font-weight: 700;

    /* transition: all;
transition-duration: 3s;
transition-delay: 10ss;
transition-timing-function: linear; */
    transition: all 0.15s 0s linear;
}

.header__content ul a:hover {
    color: #ff0e83;
}

.header__content ul .active a {
    color: #ff0e83;
}