/* ------------------------------------------------------ */
/* GLOBAL  */
/* ------------------------------------------------------ */
* {
    /*Reset CSS*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* Sữa font chữ cho toàn chương trình bằng 'rem' */
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    /* Phụ thuộc vào yêu cầu của trang web  */
    font-family: "Montserrat", sans-serif;
    color: #212529;
    background-color: #fff;
    letter-spacing: 1px;
}

/* ------------------------------------------------------ */
/* BUTTON */
/* ------------------------------------------------------ */
button {
    font-size: 0.875rem;
    cursor: pointer;
    color: white;
    background-color: #ff0e83;
    border: 1px solid white;
    border-radius: 5px;
    letter-spacing: 1px;
    padding: 1rem 2rem;
    transition-property: all;
    transition-duration: 0.2s;
    transition-delay: 0s;
    transition-timing-function: linear;
    /* transition: all 0.2s 0s linear; */
}

button:hover {
    color: black;
    border: 1px solid #ff0e83;
    background-color: #fff;
}

/* ------------------------------------------------------ */
/* TITLE */
/* ------------------------------------------------------ */
.main__title {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    padding-bottom: 3rem;
    font-weight: 700;
}

/* ------------------------------------------------------ */
/* NUMBER */
/* ------------------------------------------------------ */
.number__content {
    width: 70%;
    margin: 0 auto;

    display: flex;
    padding: 50px 0;
    text-align: center;
    justify-content: space-around;
}

.number__items h2,
.number__items h3 {
    padding: 0.7rem 0;
    font-size: 1.5rem;
    letter-spacing: 4px;
}

.number__items h2 {
    color: #4e2a84;
}
